@import '~scss/utilities.scss';

.MenuSettingsScreen {
  .ScreenContent {
    display: flex;

    .MenuSettingsScreenNavigation {
      display: flex;
      flex-wrap: wrap;
      width: 25%;
      overflow: hidden;
      height: fit-content;

      .ScreenMenuButton {
        @include font-family('Open Sans', 700);
        width: calc(100% - 10px);
        background-color: color(f);
        text-align: auto;
        color: color(0);
        text-transform: uppercase;
        line-height: 48px;
        border-radius: 25px;
        transition: opacity .1s ease-in-out;
        opacity: .75;

        &--Active {
          width: 100%;
          opacity: 1;
          padding-right: 26px;
          border-radius: 25px 0 0 25px;
        }

        &:hover {
          animation: none;
        }
      }
    }
  
    .MenuSettingsScreenView {
      width: 75%;
      padding-left: 16px;
      background-color: color(f);
    }
  }
}
