@import '~styles/utilities.scss';

.menu-mods-screen {
  .screen__content {
    display: flex;
  }

  &__navigation {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    overflow: hidden;
    height: fit-content;

    &__button {
      @include font-family('Open Sans', 700);
      width: calc(100% - 10px);
      background-color: color(grey000);
      text-align: auto;
      color: color(grey999);
      text-transform: uppercase;
      line-height: 48px;
      border-radius: 25px;
      transition: opacity .1s ease-in-out;
      opacity: .75;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 48px;
        height: 48px;
      }

      div {
        width: 144px;
        text-align: left;
      }

      &--Selected {
        width: 100%;
        opacity: 1;
        padding-right: rem(26px);
        border-radius: 25px 0 0 25px;
      }

      &:hover {
        animation: none;
      }
    }
  }

  &__container {
    width: 75%;
    padding: rem(16px);
    background-color: color(grey000);
    color: color(grey900);
  }
}