@import '~scss/utilities.scss';

.PlayScreen {
  .Screen {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);

    &Content {
      width: 40%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }
}
