@import '~styles/utilities.scss';

.play-screen {
  .screen {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);

    &__content {
      width: 40%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }

  .menu-slider {
    width: 100%;
    padding: 0 rem(8px);
    margin-top: rem(16px);

    &__label {
      @include set-font-scale('xs');
    }

    &s {
      width: 100%;
    }
  }
}
