@import '~styles/utilities.scss';

.devtools-console {
  position: relative;
  padding-top: rem(16px);
  height: 100%;

  &::before {
    content: ">";
    position: absolute;
    bottom: 5px;
    left: 0;
    display: block;
    width: 40px;
    text-align: center;
    color: color(grey000);
    z-index: 1;
  }

  &__input {
    @include set-font-scale('m', 's');
    font-family: Consolas;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: none;
    color: color(grey000);
    border-top: 3px solid color(grey900);
    border-bottom: 3px solid color(grey900);
    height: 32px;
    padding-left: rem(38px);
    outline: none;
    z-index: 1;

    &:focus {
      box-shadow: 0 0 4px color(color(grey999));
    }
  }

  &__command-suggestion {
    @include set-font-scale('m', 's');
    font-family: Consolas;
    font-weight: 300;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: rem(38px);
    width: 100vw;
    height: 27px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    z-index: 0;
    opacity: .5;
  }

  &__history {
    display: block;
    max-height: calc(100% - 32px);
    margin: 0;
    padding: 0 0 rem(8px) rem(38px);
    list-style: none;
    overflow-y: auto;
    font-family: Consolas;
    font-weight: 300;
  }
}
