@import '~styles/utilities.scss';

.devtools-entities {
  height: 100%;

  .m-datatable-column {
    &.id span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
      max-width: calc(100vw - 130px);
    }

    &.show {
      max-width: 48px;
    }
  }
}
