@import '~scss/utilities.scss';

.FormFieldSet {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 8px;
  border: none;

  &Legend {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: lighten(color(primary), 10.76);
    padding: 0 8px;
    margin: 0;
    min-height: 28px;
  }

  &Content {
    width: 100%;
    border: 1px solid lighten(color(primary), 10.76);
    border-top: none;
    padding: 8px;
  }
}
