@import '~scss/utilities.scss';

.FormFieldContainer {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;

  .FieldLabel {
    @include font-family('Open Sans', 600);
    @include transition(color .2s);
    display: block;
    width: 100%;
    margin-bottom: 12px;
    color: color(f);
  }
}
